/* Custom class container limiting the size to 60% of the screen */
.custom-container {
    width: 60%;
    margin: 0 auto;
}

/* Navigation Section */
/* Temporary changes to remind me of the access to the default Bootstrap classes */
.navbar {
    background-color: #007bff !important;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover {
    background-color: #0056b3 !important;
}

/* Form Section */

/* Center placeholder text */
input::placeholder {
    text-align: center;
}

#subnetMask, #wildcardMask, #maxHosts {
    background-color: #e9ecef;
    color: grey;
    pointer-events: none;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    #navbarNav {
        text-align: right !important;
    }
}

@media screen and (max-width: 480px) {
    .container.custom-container {
        width: 100% !important;
    }
}